.users-list {
	list-style: none;
}
.users-list li {
	padding: 0.3rem;
}

.users-list p {
	margin-bottom: 1rem !important;
}

.users-list li.connect {
	background-color: rgb(103, 199, 199);
}

.users-list li.disconnect {
	background-color: rgb(165, 179, 179);
}

.customOverlay {
	background: rgba(0, 0, 0, 0.9);
}

.customModal {
	background: #ffffff;
	padding: 10px;
	/* border-radius: 5px; */
}
